.logoBarComponent{  
    display: flex;
    flex: 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
     /* background: url("../../zdjęcia/tła/hd-wallpaper-Obraz\ PayPal.meFelixMittermeier\ z\ Pixabay\ .jpg") center;  */
    /* background: url("../../zdjęcia/tła/wallpaper-Obraz\ PayPal.meFelixMittermeier\ z\ Pixabay.jpg") center; */
    /* background: url("../../zdjęcia/tła/silver_Obraz\ Barbara\ A\ Lane\ z\ Pixabay.jpg");  */
    /* background: url("../../zdjęcia/tła/template-Obraz\ ...♡...\ z\ Pixabay.jpg"); */
    /* background: url("../../zdjęcia/tła/bokeh-Obraz\ Barbara\ A\ Lane\ z\ Pixabay\ .jpg") center; */
    /* background: url("../../zdjęcia/tła/water-Obraz\ wal_172619\ z\ Pixabay\ .jpg") center; */
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../../zdjęcia/tła/wallpaper-Obraz\ PayPal.meFelixMittermeier\ z\ Pixabay.jpg");
    /* background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../../zdjęcia/tła/silver_Obraz\ Barbara\ A\ Lane\ z\ Pixabay.jpg"); */


    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(4,4,4); */
    justify-content:space-between;
    align-items: center;
}
.logoBarComponent_Menu{
    display: flex;
    flex: 0 90%;
    justify-content:space-between;
    align-items: center;
}
.logoImg {
    padding: 0.5%;
    flex:0 15%;
    width: 20%;
    height: auto;
}

.menu{
    display: flex;
    flex: 0 80%;
    flex-wrap: nowrap;
    align-self: center;
    margin: 1%;

}
.menuUl{
    display: flex;
    flex: 1 100%;
    flex-wrap: nowrap;
    align-self: center;

    justify-content: flex-end;
    
    color:rgb(220,220,220);
    
}

.menuUl li{
    list-style-type: none;
    margin: 0.5%;
    padding: 0.5%;
    display: inline;
}
.menuUl li a {
    text-decoration: none;
    color:rgb(37,148,212);
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 0.05em 0.05em 0.05em rgb(220,220,220);
}