.logoBarComponent{  
    display: flex;
    flex: 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
   
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../../zdjęcia/tła/wallpaper-Obraz\ PayPal.meFelixMittermeier\ z\ Pixabay.jpg");


    background-repeat: no-repeat;
    background-size: cover;
    justify-content:space-between;
    align-items: center;
}
.logoBarComponentDark{
    background: url("../../zdjęcia/tła/ciemne/abstract-gd300d5288_1920.png");

}
.logoBarComponent_Menu{
    display: flex;
    flex: 1 100%;
    justify-content:space-between;
    align-items: center;
}
.logoImg {
    padding: 0.5%;
    flex:0 12%;
    width: 10%;
    height: auto;
}

.menu{
    display: flex;
    flex: 0 80%;
    flex-wrap: nowrap;
    align-self: center;
    margin: 1%;

}
.menuUl{
    display: flex;
    flex: 1 100%;
    flex-wrap: nowrap;
    align-self: center;

    justify-content: flex-end;
    
    color:rgb(220,220,220);
    
}

.menuUl li{
    list-style-type: none;
    margin: 0.5%;
    padding: 0.5%;
    display: inline;
}
.menuUl li a {
    text-decoration: none;
    color:rgb(37,148,212);
    letter-spacing: 1.5px;
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 0.08em 0.08em 0.08em rgb(220,220,220);
}
.componentDiv{
    padding: 2%;
   
    background: url("../../zdjęcia/tła/bokeh-Obraz\ Tomislav\ Jakupec\ z\ Pixabay.png");



    background-repeat: no-repeat;
    background-size: cover;
   
    color: rgb(49,57,68);
}
.componentDivDark{
    padding: 2%;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url("../../zdjęcia/tła/ciemne/banner.jpg");
    background: url("../../zdjęcia/tła/ciemne/banner.jpg");

    background-size: cover;
   

    color: rgb(220,220,220);
}
