.componentDiv{
    padding: 2%;
    
     background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../../zdjęcia/tła/pixabayWaves.jpg");

    background-repeat: no-repeat;
    background-size: cover;
   
    color: rgb(49,57,68);
}

.aboutOrchestraDiv{
    display: flex;
    flex-flow: row wrap;
     justify-content: center;
     align-items: center;

}

.aboutOrchestraTitle{
    display: flex;
    justify-content: center;
    flex: 0 80%;
    color: rgb(37,148,212);
    text-shadow: 0.05em 0.05em 0.05em rgb(220,220,220);
    letter-spacing: 2px;
    


}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.3rem; 
}
.aboutOrchestraDiv p{
    text-align: justify;
    
}

p{
    font-size: 1.2rem; 
    padding: 1%;
}


.orchestraPhoto{
    display: flex;
    flex: 0 80%;
    border-radius: 2%;
    box-shadow: 5px 5px 5px rgb(37,148,212);
}



@media all and (max-width: 960px) {
    .title{
        display: flex;
    flex: 0 80%;
        justify-content:flex-end;

    }
}