.homePhoto{
    width:100%;
    height: auto;
}
.title{
    display: flex;
    flex: 1 100%;
    justify-content: flex-end;
    align-items: flex-end;
    color:rgb(37,148,212);
    font-size: 3rem;
    text-shadow: 0.05em 0.05em 0.05em rgb(220,220,220);

    padding: 1%;
    
}
.logoBarHomeComponent{
    position:absolute;
    top: 0;
    }