.Conductors{
    display: flex;
    justify-content:center;
    align-items: center;
}
.contactInformation {
    display: flex;
    flex-flow: row wrap;
     flex: 0 80%;
     margin: 2%;
     justify-content:center;
     align-items: center;
}
.contactInformation h2{
   
    color: rgb(37,148,212);
    text-shadow: 0.08em 0.08em 0.08em rgb(220,220,220);
    letter-spacing: 2px;

}

.conductorPhoto{
    width: 60%;
    height: auto;
    border-radius: 2%;
    box-shadow: 5px 5px 5px rgb(37,148,212);
}
.mailMap{
    display: flex;
    justify-content:center;
   flex-flow: row wrap;
   align-items: center;
     
     padding: 1%;
}
.mail, .map {
    display: flex;
    flex: 0 90%;
    flex-flow: column wrap;
    align-items: center;

    justify-content:center;
    margin: 2% 0;
    padding: 2%;
}

.mail h2, .map h2 {
    display: flex;
    color: rgb(37,148,212);
    text-shadow: 0.08em 0.08em 0.08em rgb(220,220,220);
    letter-spacing: 2px;
    text-align: center;

}
.mapImage{
    width: 600px;
    height: 400px;
}